<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Grumblr-login{% endblock %}</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'grumblr/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'grumblr/css/main.css' %}">
		<link rel="icon" href="{% static 'grumblr/images/icon.png' %}">
	</head>
	<body class="main-body">
		<div id='content'>
		{% block content %}{% endblock %}
		</div>
	</body>
</html> 
