{% extends "grumblr/base.html" %}

{% block content %}
		<div class="title">
			<h1>Grumblr</h1>
		</div>
		{% if form.errors %}
		<h4 class="loginerror">Incorrect username and password</h4>
		{% endif %}
		<div class="container">
			<form class="signin-form" method="post" action="{% url 'login' %}">
				<table>
					<tr>
					    <td>{{ form.username.label_tag }}</td>
					    <td class="login_blank">{{ form.username }}</td>
					</tr>
					<tr>
					    <td>{{ form.password.label_tag }}</td>
					    <td class="login_blank">{{ form.password }}</td>
					</tr>
					<tr>
						<td></td>	
						<td class="login_blank"><button class="btn btn-md btn-primary custom" type="submit">Sign in</button></td>
					</tr>
				  <tr>
				  	<td></td>
				  	<td class="login_blank"><a href="{% url 'register' %}" class="blue_font">Do not have account? Sign up now</a></td>
				  </tr>
				  <tr>
				  	<td></td>
				  	<td class="login_blank"><a href="{% url 'forgot_password' %}" class="blue_font">Forgot password</a></td>
				  </tr>
			  </table>
				<input type="hidden" name="next" value="{{ next }}" />
				{% csrf_token %}
			</form>
		</div>

{% endblock %}
 

