{% extends "grumblr/base.html" %}

{% block title %}Grumblr-Reset Password{% endblock %}

{% block content %}
		<div class="title">
			<h1>Grumblr</h1>
		</div>
		<div class="container">
			<form class="signin-form" method="post" action="{% url 'reset_password_page' username token %}">
				<table>
				<tr>
				    <td>{{ form.password.label_tag }}</td>
				    <td class="login_blank">{{ form.password }}</td>
				</tr>
				<tr>
				  	<td></td>
					<td><button class="btn btn-md btn-primary custom" type="submit">Reset password</button></td>
				<tr>
				</table>
				{% csrf_token %}
			</form>
		</div>
{% endblock %}
